{
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
}

img.storyTypeIcon{
	height: 14px;
	width: 14px;
	border: none;
}

.project{
	padding-left: 5px;
}

.stories{
	padding-left: 10px;
}

.project_name{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.story_labels{
	color: #063;
	font-size: 10px;
	font-family: arial, sans-serif;
	font-weight: bold;
}

.story_name span{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: black;
}

.feature img.storyTypeIcon {
	background-image: url("lib/pivotal/feature.png");
}

.chore img.storyTypeIcon {
	background-image: url("lib/pivotal/chore.png");
}

.bug img.storyTypeIcon {
	background-image: url("lib/pivotal/bug.png");
}

.release img.storyTypeIcon {
	background-image: url("lib/pivotal/release.png");
}

.started,
.finished,
.delivered {
	background-color: #F3F3D1;
	border-bottom-color: #DBDBB0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}

.rejected,
.unStarted {
	background-color: #F4F4F4;
	border-bottom-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}

.unscheduled {
	background-color: #E4EFF7;
	border-bottom-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}

.accepted {
	background-color: #DAEBCF;
	border-bottom-color: #C3D5B4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}

.story{
	border-left-color: black;
	border-right-color: black;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	min-height: 23px;
}
.storyPreviewButtons{
}
.storyPreviewButtons a{
	border-bottom-color: #EEE;
	border-collapse: separate;
	border-left-color: #EEE;
	border-right-color: #EEE;
	border-top-color: #EEE;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	margin-bottom: 0px;
	margin-left: 1px;
	margin-right: 0px;
	margin-top: 0px;
	width: 49px;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	font-family: Arial, Verdana, sans-serif;
	overflow-y: visible;
	cursor: pointer;
	float: none;
	line-height: 23px;
}

.accept {
	background-image: url(lib/pivotal/accept.png);
	color: #EEE;
}

.accept:hover{
	background-image: url(lib/pivotal/accept_hover.png);
	color: #EEE;
}

.reject {
	background-image: url(lib/pivotal/reject.png);
	color: #EEE;
}

.reject:hover{
	background-image: url(lib/pivotal/reject_hover.png);
	color: #EEE;
}

.finish {
	background-image: url(lib/pivotal/finish.png);
	color: #EEE;
}

.finish:hover{
	background-image: url(lib/pivotal/finish_hover.png);
	color: #EEE;
}

.deliver {
	background-image: url(lib/pivotal/deliver.png);
	color: #EEE;
}

.deliver:hover{
	background-image: url(lib/pivotal/deliver_hover.png);
	color: #EEE;
}

.restart {
	background-image: url(lib/pivotal/restart.png);
	color: #222;
	min-width: 56px;
	padding-left: 10px;
}

.restart:hover{
	background-image: url(lib/pivotal/restart_hover.png);
	color: #222;
	min-width: 56px;
	padding-left: 10px;
}

.start, 
.unFinish,
.unStart {
	background-image: url(lib/pivotal/start.png);
	color: #222;
}

.start:hover,
.unFinish:hover,
.unStart:hover {
	background-image: url(lib/pivotal/start_hover.png);
	color: #222;
}

